.navbar-container {
    width: 100%;
    background-color: #2c3e50;
    padding: 12px 0;
    box-shadow: 0 -6px 18px rgba(0,0,0,0.35);
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1200;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-list {
    display: flex;
    flex-direction: row;
    gap: 7rem;
    list-style: none;
    justify-content: space-around;
}