#root {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
}

main {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
